* Server options
SErvername  sp0
   COMMMethod         TCPip
   TCPServeraddress   sp0.dundee.ac.uk
**   ASNODEname       dns.lifesci.dundee.ac.uk 
* Communication options
   TCPBUFFSIZE 512
* Backup and Archive processing options
  DOMAIN {{ sp_domain_path }}
* Scheduling and Web client options
   MANAGEDServices webclient schedule
   QUERYSCHEDPERIOD 6
   SCHEDMODE polling
   SCHEDLOGRETENTION {{ sp_retention }}
* Authorization options
   PASSWORDACCESS     generate
* Error processing options
   ERRORLOGNAME /var/log/dsmerror.log
**    ERRORLOGRetention 60
   ERRORLOGRetention {{ sp_retention }}
* Transaction processing options
   NFSTIMEOUT 10
   TXNBYTELIMIT 64M
